@import '~antd/dist/antd.css';

.App {
  background: -webkit-radial-gradient(#BF0060, #7E3D76);
  background: -o-radial-gradient(#BF0060, #7E3D76);
  background: -moz-radial-gradient(#BF0060, #7E3D76);
  background: radial-gradient(#BF0060, #7E3D76);
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

.App-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: snow;
  font-size: 3em;
  margin: auto;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: snow;
  margin: auto;
}

.App-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: snow;
  margin: auto;
}

.question {
  color: snow;
}

.question:hover {
  color: snow;
}

.question:focus {
  color: snow;
}

.divText{
  color: snow;
}

.sub {
  background-color: orange;
  border-color: orange;
}

.sub:hover {
  background-color: gold;
  border-color: gold;
}

.sub:focus {
  background-color: gold;
  border-color: gold;
}

.main {
  background: -webkit-radial-gradient(#ffb3e6, #ba55d3);
  background: -o-radial-gradient(#ffb3e6, #ba55d3);
  background: -moz-radial-gradient(#ffb3e6, #ba55d3);
  background: radial-gradient(#ffb3e6, #ba55d3);
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

.App-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  margin: auto;
}

.App-letter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: snow;
  margin: auto;
}

.App-com {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: snow;
  margin: auto;
}

.show:hover {
  background-color: transparent;
  border-color: transparent;
}

.show:focus {
  background-color: transparent;
  border-color: transparent;
}